.sBar {
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  font-family: Ubuntu , sans-serif;
  font-size: 14px;
  margin-bottom: -40px;
  padding: 10px;
  width: 94vw;
}

.text {
  border-radius: 5px;
  height: 30px;
  padding-left: 5px;
  width: 90vw;
}

.radio {
  margin-left: 5px;
  margin-top: 15px;
}

.sBar button {
  background-color: #830000;
  border-radius: 5px;
  color: white;
  margin-left: 10px;
  margin-top: 10px;
  padding: 5px;
  width: 70px;
}
